<!DOCTYPE html>
<html style="display: block;" lang="en" xmlns="http://www.w3.org/1999/html"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>Mediscreen</title>

<link rel="shortcut icon" href="#" type="image/x-icon">

<link rel="stylesheet" href="css/animate-3.css">
<link rel="stylesheet" href="css/font-awesome-4.css">
<link rel="stylesheet" href="css/bootstrap-4.css">
<link rel="stylesheet" href="css/owl-carousel.css">
<link rel="stylesheet" href="css/jquery.css">
<link rel="stylesheet" href="css/linearicons.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body style="display: block;"><button type="button" id="mobile-nav-toggle"><i class="lnr lnr-menu"></i></button>

<div class="preloader" style="display: none;">
<div class="spinner"></div>
</div>


<header class="header-area">
<div class="header-top">
<div class="container">
<div class="row">
<div class="col-lg-9 d-md-flex">
<h6 class="mr-3"><span class="mr-2"><img src="img/mail.png" width="25" height="25" alt="" title=""></span> CONTACT ME NOW! <a href="mailto:DUBOIS_ALEXANDRE@LIVE.FR">DUBOIS_ALEXANDRE@LIVE.FR</a></h6>
<h6 class="mr-3"><span class="mr-2"><img src="img/github.png" width="25" height="25" alt="" title=""></span><a href="https://github.com/ALEXD2758">https://github.com/ALEXD2758</a></h6>
</div>
<div class="col-lg-3">
<div class="social-links">
<ul>
<li><a href="https://www.linkedin.com/in/alexandre-dubois-b1a892149/"><img src="img/4345.png" width="25" height="25" alt="" title=""></a></li>
<li><a href="https://twitter.com/Alexand26920158/"><img src="img/twitter.jpg" width="25" height="25" alt="" title=""></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div id="header">
<div class="container">
<div class="row align-items-center justify-content-between d-flex">
<div id="logo">
<a href="#"><img src="img/logo.png" width="270" height="50" alt="" title=""></a>
</div>
<nav id="nav-menu-container">
<ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
    <li class="menu-active"><a href="#">Home</a></li>
    <li><a href="/patient/list">Patients View</a></li>
    <li><a href="#">doctors</a></li>
    <li><a href="#">Pages</a></li>
    <li><a href="#">blog</a></li>
    <li><a href="#">Contact</a></li>
</ul>
</nav>
</div>
</div>
</div>
</header>

<section class="banner-area">
<div class="container">
<div class="row">
<div class="col-lg-5">
<h3 style=" margin-top:-140px">Caring for better life</h3><h1 style=" margin-bottom: 19.080; margin-bottom: 20.080; width: 550px; margin-top: ‒100;">Leading the way in detecting risk factors for disease</h1>
<p>Mediscreen specializes in detecting risk factors for disease. Our screenings using predictive analysis of patient populations at an affordable cost</p>
<p>This application is designed to:</p>
    <p>- to handle a MySQL Database</p>
    <p>- handle patient's records</p>
    <p>- provide a screening of all patients according to specific criteria</p>
<a href="/patient/list" class="template-btn mt-3">Access it now!</a>
</div>
</div>
</div>
</section>

<script src="js/jquery-2.js"></script>
<script src="js/bootstrap-4.js"></script>
<script src="js/wow.js"></script>
<script src="js/owl-carousel.js"></script>
<script src="js/jquery.js"></script>
<script src="js/jquery_002.js"></script>
<script src="js/superfish.js"></script>
<script src="js/main.js"></script>

<script async="" src="js/js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script defer="defer" src="js/beacon.js" data-cf-beacon="{&quot;version&quot;:&quot;2021.1.2&quot;,&quot;rayId&quot;:&quot;61c644d0ad3dd488&quot;,&quot;si&quot;:10}"></script>


<nav id="mobile-nav">
<ul class="" style="touch-action: pan-y;" id="">
<li class="menu-active"><a href="#">Home</a></li>
<li><a href="#">departments</a></li>
<li><a href="#">doctors</a></li>
<li><a href="#">Pages</a></li>
<li><a href="#">blog</a></li>
<li><a href="#">Contact</a></li>
</ul>
</nav>
</body>
</html>